<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alvarezaaronai.edam">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- End of Permissions -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/project_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/project_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- Bluetooth Connectivity MetaWear -->
        <service android:name=".DfuService" />
        <service android:name="com.mbientlab.metawear.android.BtleService" />
        <!-- End of Connectivity-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.alvarezaaronai.edam.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".ScannerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>